@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
.mobileHeader,
.mobileMenu {
  display: none;
}

@include m.responsive(m.$xs) {
  header {
    display: none;
  }

  .mobileHeader {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: v.$green;
    padding: 30px 0;
    z-index: 5;

    .menuButton {
      display: flex;
      width: 30px;
      height: 20px;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      position: relative;
      margin-left: auto;
      span {
        @include m.call_template();
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

        &:nth-child(2) {
          position: absolute;
          left: 0;
          top: calc(50% - 1.5px);
          width: 100%;
        }
      }
      &.show {
        span {
          &:nth-child(1),
          &:nth-child(4) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .logo {
      .img {
        @include m.mask-parameters('../img/svg/logo.svg');
        background-color: #fff;
        width: 100%;
        height: 30px;
        display: block;
      }
    }
  }

  .mobileMenu {
    @include m.call_template(transition, 0.4s);
    position: fixed;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    top: 0;
    opacity: 0;
    background-color: v.$green;
    display: block;
    &.show {
      left: 0;
      opacity: 1;
    }
  }
}
