@import '../../../node_modules/pers-sign/css/module';

// Display

.d-block{
  display: block;
}

.d-none{
  display: none;
}

// Flexbox
.d-flex {
  display: flex;
}

.j-b {
  justify-content: space-between;
}

.j-c {
  justify-content: center;
}

.j-e {
  justify-content: flex-end;
}

.a-s {
  align-items: flex-start;
}
.a-c {
  align-items: center;
}

.a-e {
  align-items: flex-end;
}

.f-c {
  flex-direction: column;
}

// Positions
.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}


// Width / Height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}