body{
    position: relative;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

*:focus{
    outline: none;
}

// Fonts
.akrobat-semibold {
    font-family: "akrobatsemibold", sans-serif;
}

.akrobat-regular{
    font-family: "akrobatregular", sans-serif;
}

.akrobat-black{
    font-family: "akrobatblack", sans-serif;
}

.akrobat-bold{
    font-family: 'akrobatbold', sans-serif;
}


// Flexbox
.d-flex{
    display: flex;
}

.j-b{
    justify-content: space-between;
}

.j-c{
    justify-content: center;
}

.j-e{
    justify-content: flex-end;
}

.a-s{
    align-items: flex-start;
}
.a-c{
    align-items: center;
}

.a-e{
    align-items: flex-end;
}

.f-c{
    flex-direction: column;
}

// Positions
.p-abs{
    position: absolute;
}

.p-rel{
    position: relative;
}



