@font-face {
    font-family: 'akrobatblack';
    src: url('../../fonts/akrobat/akrobat-black.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  @font-face {
    font-family: 'akrobatbold';
    src: url('../../fonts/akrobat/akrobat-bold.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  @font-face {
    font-family: 'akrobatextralight';
    src: url('../../fonts/akrobat/akrobat-extralight.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  @font-face {
    font-family: 'akrobatlight';
    src: url('../../fonts/akrobat/akrobat-light.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  @font-face {
    font-family: 'akrobatregular';
    src: url('../../fonts/akrobat/akrobat-regular.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  
  }
  
  
  @font-face {
    font-family: 'akrobatsemibold';
    src: url('../../fonts/akrobat/akrobat-semibold.woff2') format('woff2'),
    url('../../fonts/akrobat/akrobat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: 'Padaloma';
    src: url('../../fonts/padaloma/PadalomaItalic.woff2') format('woff2'),
    url('../../fonts/padaloma/PadalomaItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  