@charset "UTF-8";

@use 'sass:string';
@use 'sass:list';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

/*! purgecss start ignore */
// @import 'vendors/blaze-slider';
// @import 'vendors/bootstrap';
// @import 'vendors/photoswipe';
// @import 'vendors/swiper';
// @import 'vendors/glightbox';
/*! purgecss end ignore */

@import 'custom_utilities/generator';

@import 'base/typography';
@import 'base/base';
@import 'base/utilities';
@import 'base/animations';
@import 'base/mobile';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/index';

