@use 'sass:map';

$color_map: (
    "primary": #f00,
    "secondary": blue,
    "dark": black,
    "light": white
);

$default_colors: (
  'white': #fff,
  'transparent': transparent,
  'black': #000,
);

$color_map: map.merge($color_map, $default_colors);


$final_list: ();