@use 'sass:map';

$color_map: (
    primary: green,
    secondary: blue,
    dark: black,
    light: white
);


$primary: map.get($color_map, primary);
$secondary: map.get($color_map, secondary);
$light: map.get($color_map, light);
$dark: map.get($color_map, dark);

$final_list: ();