body {
  position: relative;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}