@include max_responsive(md) {
  .header_sm {
    padding: 30px 0;
    z-index: 5;

    .menuButton {
      width: 30px;
      height: 20px;
      margin-left: auto;
      span {
        transition: .3s all;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

        &:nth-child(2) {
          left: 0;
          top: calc(50% - 1.5px);
        }
      }
      &.show {
        span {
          &:nth-child(1),
          &:nth-child(4) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .mobileMenu {
    transition: .4s left, .4s opacity;
    left: 100vw;
    top: 0;
    opacity: 0;
    &.show {
      left: 0;
      opacity: 1;
    }
  }
}

nav[id^='nav-mobile'] {
  padding-left: 30px;
  gap: 15px;
  a {
    color: #fff;
  }
}

nav[id^='nav-mobile']:not(#nav-mobile-1) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: var(--color-primary);
  transition: .4s transform;
}

nav[id^='nav-mobile']:not(#nav-mobile-1).show {
  transform: translateX(0);
}
