@charset "UTF-8";

@use 'sass:string';
@use 'sass:list';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'vendors/blaze-slider';
@import 'vendors/bootstrap';
@import 'vendors/photoswipe';
@import 'vendors/swiper';

@import 'base/custom-frame';
@import 'base/typography';
@import 'base/base';
@import 'base/utilities';
@import 'base/animations';
@import 'base/mobile';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/index';


@media (prefers-reduced-motion: no-preference) {
    $transitions_property: ();
  
    @each $selector, $transition in $final_list {
      #{$selector} {
        $transition_properties: ();
  
        @each $prop, $dur in $transition {
          $transition_properties: list.append(
            $transition_properties,
            #{$prop} #{$dur} ease,
            comma
          );
        }
  
        -webkit-transition: $transition_properties;
        -o-transition: $transition_properties;
        transition: $transition_properties;
      }
    }
  }