@use 'sass:map';
@use 'sass:math';
@use 'sass:list';
@use 'sass:meta';

@import 'normalizer';
@import 'variables';
@import 'initials';
@import 'functions';
@import 'mixins';

$mixin_list: (
  'generate_utilities',
  'generate_opacity',
  'generate_margin',
  'generate_padding',
  'generate_position',
  'generate_width_height',
  'generate_gap'
);

@mixin generate_mixins($responsive_key: false) {
  @each $element in $mixin_list {
    @include meta.apply(meta.get-mixin($element), if($responsive_key, #{$responsive_key + '\\:'}, ''));
  }
}
@include generate_mixins();

@each $key, $val in $grid-breakpoints {
  @if $val != 0 {
    @media screen and (min-width: #{$val}) {
      @include generate_cols($key);
    }
  } @else {
    @include generate_cols();
  }
}

@if $is-mobile-first == true {
  @each $key, $val in $grid-breakpoints {
    @media screen and (min-width: #{$val}) {
      @include generate_mixins($key);
    }
  }
} @else {
  $reverse-grid-breakpoints: mapReverse($grid-breakpoints);
  @each $key, $val in $reverse-grid-breakpoints {
    $current-index: list.index(
      $reverse-grid-breakpoints,
      ($key $val)
    );
    @if $current-index != 1 {
      $previous-val: list.nth(
        list.nth($reverse-grid-breakpoints, $current-index - 1),
        2
      );
      $cur-key: list.nth($key, 1);
      @media screen and (max-width: #{$previous-val - 1}) {
        @include generate_mixins($responsive_key: $cur-key);
      }
    }
  }
}

// Colors start
@each $color_code, $color_value in $color_map {
  .text-#{$color_code} {
    color: var(--color-#{$color_code});
  }
  .bg-#{$color_code} {
    background-color: var(--color-#{$color_code});
  }
  .border-#{$color_code} {
    border-color: var(--color-#{$color_code});
  }
  .fill-#{$color_code} {
    fill: var(--color-#{$color_code});
  }
}

// Container Generator
@each $key, $val in $container-max-widths {
  .container-#{$key} {
    @extend .container-fluid;
  }
  @include generate_container_up($key) {
    $container-width: map.get($container-max-widths, $key);
    $gutter-total: (($number-of-col - 1) * $grid-gutter);
    $col-width: math.div(
      $container-width - $gutter-total,
      $number-of-col
    );
    :root {
      --column-width: #{$col-width};
      --gutter-total: #{$gutter-total};
      --container-width: #{$container-width};
      --container-margin: calc((100vw - #{$container-width}) / 2);
      --gutter-width: #{$grid-gutter};
    }

    %get-container-#{$key} {
      max-width: $val;
    }
    $extend-container: true;
    @each $break-key, $break-val in $grid-breakpoints {
      @if ($extend-container) {
        .container#{breakpoint-infix($break-key, $grid-breakpoints)} {
          @extend %get-container-#{$key};
        }
        @if ($key == $break-key) {
          $extend-container: false;
        }
      }
    }
  }
}
