@charset "UTF-8";
@use 'sass:list';

@use 'abstracts/variables';
@forward 'abstracts/functions';
@forward 'abstracts/mixins';
@forward 'abstracts/placeholders';

// @use 'vendors/bootstrap';
// @forward 'vendors/blaze-slider';
// @forward 'vendors/photoswipe';
// @forward 'vendors/swiper';
// @forward 'vendors/glightbox';

@forward 'vendors/normalize';

@forward 'base/typography';
@forward 'base/base';
@forward 'base/utilities';
@forward 'base/animations';
@forward 'base/mobile';


@media (prefers-reduced-motion: no-preference) {
    $transitions_property: ();
  
    @each $selector, $transition in variables.$final_list {
      #{$selector} {
        $transition_properties: ();
  
        @each $prop, $dur in $transition {
          $transition_properties: list.append(
            $transition_properties,
            #{$prop} #{$dur} ease,
            comma
          );
        }
  
        -webkit-transition: $transition_properties;
        -o-transition: $transition_properties;
        transition: $transition_properties;
      }
    }
  }
  